.label-form {
  margin-top: 5px;
}

.btn-form {
  margin-top: 10px;
}


.checkbox-login {
  width: auto;
  margin-left: 25px;
  span {
    font-weight: normal;
  }
}

.task-i-name {
  font-size: 1.3em;
}

#table-tasks {
  td {
    padding-top: 10px;
  }
  th {
    .task-index {
      width: 40%;
    }
  }
}
